# Ignore environment files
.env
.env.local
.env.local.php
.env.*.local

# Symfony secrets
/config/secrets/prod/prod.decrypt.private.php

# Cache, logs and sessions
/var/

# Dependencies
/vendor/

/public/bundles/
